html, body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    line-height: 1.5;}
body {
	height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('assets/freedom.jpg');
	background-size: cover;}
/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
.box {padding: 50px;
    padding-top: 10px;}
#text {
    text-transform:uppercase;
font-family: "Inconsolata";
text-align: center;
font-size: 40px;}
.name {
    text-align: center;
font-family: 'Tangerine', cursive;
font-style: italic;
    font-size: 15px;}
.butt {width: 100%;
border-radius: 5px;
    background-color:white;
	color:#54AB83;
	padding: 9px 18px;
	transition-duration: 0.7s;
	border-color: #54AB83;
	margin-left: 0px;}
button:hover {
	background-color:#54AB83;
    color: white;}
footer {text-align: center;}
hr {
  display: block;
  margin-top: 20em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 21px;
}